name: Build Windows Executable

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy openpyxl pyinstaller

    - name: Build with PyInstaller
      run: |
        pyinstaller --noconsole --onefile --name "Xlsx to Csv" main.py

    - name: Upload Finished EXE
      uses: actions/upload-artifact@v4
      with:
        name: xlsx-csv
        path: dist/Xlsx to Csv.exe
