name: Build CSV Merger Executable

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest   # Use Windows runner to produce .exe

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build executable with PyInstaller
      run: |
        pyinstaller --noconsole --onefile --name "Jester Toolbox" main.py
        dir dist

    - name: Upload artifact (.exe)
      uses: actions/upload-artifact@v4
      with:
        name: DataToolbox
        path: dist/Jester Toolbox.exe
